.login-container{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #c3e9ed;
}
.image{
    width: 50%;
    height: 100%;
}
.background-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.docs-img{
    width: 100%;
    height: auto;
}
.login-form-container{
    margin: 40px;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 20px;
}

.logo-container{
    width: 100%;
}

.logo-container .logo-img{
    width: 50%;
}